@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}
#app {
    height: 100%;
  }
html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: rgb(167, 147, 147);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

@layer {
    .myContainer {
      @apply mx-auto w-full max-w-[1246px] px-[20px];
    }
  }

.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background-color: blue;

  /* Center slide text vertically */
  display: flex;
  align-items: center;
}
.slider1{
    background: url(./assets/hero-slider-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider2{
    background: url(./assets/her-slider-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider3{
    background: url(./assets/hero-slider-3.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text{
    color: transparent; 
            -webkit-text-stroke-width: 4px; 
            -webkit-text-stroke-color: black; 
}

/* Navbar */
nav {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(45deg, #123456 80%, rgb(68, 125, 194) 80%);
}
#visitka{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(45deg, #f3f5f7 75.5%, rgb(6, 2, 34) 75.5%);
}


/* Animtion */
.skill-main .skill-bar .info {
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
}

.skill-bar .info .persent {
    font-weight: bold;
}

.skill-bar .bar {
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: grey;
    border-radius: 25px;
    margin-top: 0.2rem;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 217, 0);
    border-radius: 25px;
}
.skill-bar .bar .oneAnime {
    width: 92%;
    animation: oneAnime 3s ease-in-out;
}

@keyframes oneAnime {
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }
}
.skill-bar .bar .twoAnime {
    width: 85%;
    animation: twoAnime 3s ease-in-out;
}

@keyframes twoAnime {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}
.skill-bar .bar .threeAnime {
    width: 75%;
    animation: threeAnime 3s ease-in-out;
}

@keyframes threeAnime {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

/* About */
.about{
    width: 100%;
    
    background: url(./assets/about-bgg.svg);
    background-color: #ffdb53;
    background-position:  top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about::before{
content: "";
background-color: #123456;
}

.sender_section{
    background-image:url(./assets/bg-word-yellow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* react-multi-carousel  customer*/
.react-multi-carousel-item  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-multiple-carousel__arrow::before{
    color: black;
}